<section>
  <div class="container">
   <p>Have a look at all the artists</p>
<ul>
  <% @artists.each do |artist| %>
  <a href="/artists/<%= artist.first %>">
  <li class="list">
    <%= artist.last %>
  </li>
  </a>
  <% end %>
</ul>
  </div>
</section>
