<section>
  <div class="container">
    <h2>Welcome to Jukebox</h2>

    <p>We selected some random artists for you to get started</p>
    <p>You can have a look at the rest of them from the tab "artists"</p>

    <% @artists.each do |artist| %>
    <ul>
      <li class="list">
        <%= artist.last %>
      </li>
    </ul>
    <% end %>
  </div>
</section>
